<!DOCTYPE html>
<html>
<head>
    <title>GrooveMarket</title>
    <style>
    </style>
</head>
<body>
<h1 class="logo">GrooveMarket</h1>
<header>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            {% if user.is_authenticated %}
                <li><a href="/all_listings/">Wszystkie ogłoszenia</a></li>
                <li><a href="#">Opcja 2</a></li>
                <li><a href="#">Opcja 3</a></li>
                <li><a href="/user/{{ user.username }}/">Moje ogłoszenia</a></li>
                <li><a href="/my_account/">Moje dane</a></li>
                <li><a href="/logout/">Wyloguj się</a></li>
            {% else %}
                <li><a href="/login/">Zaloguj się</a></li>
                <li><a href="/register/">Utwórz konto</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block content %}
        {% if user.is_authenticated %}
            <footer class="user-info">
                Witaj, {{ user.username }}!
            </footer>
        {% else %}
            <div>
                Aby móc korzystać z pełnych możliwości serwisu, proszę się zalogować
            </div>
        {% endif %}
    {% endblock %}
</main>
</body>
</html>
