<!DOCTYPE html>
<html>
<head>
    <title>GrooveMarket</title>
    <style>
    </style>
</head>
<body>
<div class="notification">
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<h1 class="logo"><a href="/">GrooveMarket</a></h1>
<h4>Zalogowany użytkownik: {{ request.user.username }}</h4>
<header>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            {% if user.is_authenticated %}
                <li><a href="/all_listings/">Wszystkie ogłoszenia</a></li>
                <li><a href="/add_listing/">Dodaj ogłoszenie</a></li>
                <li><a href="/user/{{ request.user.username }}/">Moje ogłoszenia</a></li>
                <li><a href="/my_offers/">Otrzymane oferty</a></li>
                <li><a href="/my_wishlist/">Polubione ogłoszenia</a></li>
                <li><a href="/my_account/">Moje dane</a></li>
                <li><a href="/logout/">Wyloguj się</a></li>
            {% else %}
                <li><a href="/login/">Zaloguj się</a></li>
                <li><a href="/register/">Utwórz konto</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block content %}
        {% if user.is_authenticated %}
            <h3>Ogłoszenia obserwowanych użytkowników:</h3>
            <ul>
                <div>
                    {% if page %}
                        <ul>
                            {% for listing in page %}
                                <li>
                                    <p><strong><a href="/listing/{{ listing.slug }}/">{{ listing.title }}</a></strong>
                                    </p>
                                    <p><strong>Cena: {{ listing.price }}</strong></p>
                                    {% if listing.image_1 %}
                                        <p><a href="/listing/{{ listing.slug }}/"><img src="{{ listing.image_1.url }}"
                                                                                       alt="Image 1" width="200"></a>
                                        </p>
                                    {% else %}
                                        <p><strong>Brak zdjęcia poglądowego</strong></p>
                                    {% endif %}
                                    <p>Sprzedający: <strong><a
                                            href="/user/{{ listing.seller }}/"><img
                                            src="{{ listing.seller.avatar.url }}" alt="Avatar"
                                            width="20">{{ listing.seller }}</a></strong></p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Brak ogłoszeń</p>
                    {% endif %}
                </div>
            </ul>
            <div>
        <span>
            {% if page.has_previous %}
                <a href="?page=1">Pierwsza</a>
                <a href="?page={{ page.previous_page_number }}">Poprzednia</a>
            {% endif %}

            <span>
                Strona {{ page.number }} z {{ page.paginator.num_pages }}.
            </span>

            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">Następna</a>
                <a href="?page={{ page.paginator.num_pages }}">Ostatnia</a>
            {% endif %}
        </span>
            </div>

        {% else %}
            <div>
                Aby móc korzystać z pełnych możliwości serwisu, proszę się zalogować
            </div>
        {% endif %}
    {% endblock %}
</main>
</body>
</html>