{% extends 'base.html' %}

{% block content %}
    <div>
        {% if images_list %}
            {% for image in images_list %}
                {% if image %}
                    <img src="{{ image.url }}" alt="{{ listing.title }}" width="350">
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>Brak zdjęć</h2>
        {% endif %}
        <h2>{{ listing.title }}</h2>
        <p><strong>Opis:</strong> {{ listing.description }}</p>
        <table>
            <tr>
                <td><strong>Sprzedający:</strong></td>
                <td><a href="/user/{{ listing.seller.username }}/"><img src="{{ listing.seller.avatar.url }}"
                                                                        alt="Avatar" width="20">{{ listing.seller }}</a>
                </td>
            </tr>
            <tr>
                <td><strong>Kategoria:</strong></td>
                <td>{{ listing.get_category_display }}</td>
            </tr>
            <tr>
                <td><strong>Gatunek:</strong></td>
                <td>{{ listing.get_genre_display }}</td>
            </tr>
            <tr>
                <td><strong>Cena:</strong></td>
                <td>{{ listing.price }}</td>
            </tr>
            <tr>
                <td><strong>Artysta:</strong></td>
                <td>{{ listing.artist }}</td>
            </tr>
            <tr>
                <td><strong>Stan:</strong></td>
                <td>{{ listing.get_condition_display }}</td>
            </tr>
            <tr>
                <td><strong>Data dodania:</strong></td>
                <td>{{ listing.date_listed }}</td>
            </tr>
                <td><strong>Liczba polubień:</strong></td>
                <td>{{ listing_likes_count }}</td>
        </table>
    </div>
    {% if user.is_authenticated and user == listing.seller %}
        <h3>Liczba ofert: {{ offers_count }}</h3>
        <a href="/listing/{{ listing.slug }}/likes/">Zobacz zainteresowanych</a>
        <a href="/listing/{{ listing.slug }}/edit/">Edytuj ogłoszenie</a>
        <a href="/listing/{{ listing.slug }}/delete/">Usuń ogłoszenie</a>
    {% endif %}
    {% if user.is_authenticated and user != listing.seller %}
        <h2>Wyślij ofertę:</h2>
        <form method="post">
            {% csrf_token %}
            {{ offer_form.as_p }}
            <button type="submit">Wyślij ofertę</button>
        </form>
        {% if is_liked %}
            <form method="post" action="/listing/{{ listing.slug }}/unlike/">
                {% csrf_token %}
                <button type="submit">Usuń z listy życzeń</button>
            </form>
        {% else %}
            <form method="post" action="/listing/{{ listing.slug }}/like/">
                {% csrf_token %}
                <button type="submit">Dodaj do listy życzeń</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
