{% extends 'base.html' %}

{% block content %}
    {% if listing.image_1 %}
        <img src="{{ listing.image_1.url }}" alt="Image1" width="350">
    {% else %}
        <h2>Brak zdjęcia</h2>
    {% endif %}
    <h2><a href="/listing/{{ listing.slug }}/">{{ listing.title }}</a></h2>
    <h3>Zainterseowani użytkownicy:</h3>
    {% if likes %}
        <ul>
            {% for like in likes %}
                <li><a href="/user/{{ like.user.username }}/"><img src="{{ like.user.avatar.url }}" alt="Avatar"
                                                                   width="20">{{ like.user.username }}</a></li>
                <p>Data polubienia: {{ like.liked_date }}</p>
            {% endfor %}
        </ul>
    {% else %}
        <h4>Brak</h4>
    {% endif %}
{% endblock %}