{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>Witaj, {{ user.username }}!</h2>
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}" width="100">

        <div>
            <p><strong>Nazwa użytkownika:</strong> {{ user.username }}</p>
            <p><strong>Bio:</strong> {{ user.bio }}</p>
            <p><strong>Data dołączenia:</strong> {{ user.date_joined }}</p>
            <p><strong>Liczba ogłoszeń:</strong><a href="/user/{{ user.username }}/"> {{ user_listings_count }}</a></p>
            <p><strong>Liczba obserwujących:</strong><a href="/user/{{ user.username }}/followers/"> {{ followers_count }}</a></p>
            <p><strong>Liczba obserwowanych:</strong><a href="/user/{{ user.username }}/following/"> {{ following_count }}</a></p>
        </div>
        <div>
            <a href="/my_account/edit/">Edytuj dane</a>
            <a href="/my_account/password/">Zmień hasło</a>
        </div>
    </div>
{% endblock %}
