{% extends 'base.html' %}

{% block content %}
    <div>
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}" width="100">
        <h2>{{ user.username }}</h2>
        <div>
            <p><strong>Bio:</strong> {{ user.bio }}</p>
            <p><strong>Data dołączenia:</strong> {{ user.date_joined }}</p>
            <p><strong>Obserwujący:</strong><a href="/user/{{ user.username }}/followers/">{{ followers_count }}</a></p>
            <p><strong>Obserwowani:</strong><a href="/user/{{ user.username }}/following/">{{ following_count }}</a></p>
            {% if user != request.user %}
                <form action="/user/{{ user.username }}/" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        {% if user_followed %}
                            Odobserwuj
                        {% else %}
                            Obserwuj
                        {% endif %}
                    </button>
                </form>
            {% endif %}
        </div>
        <div>
            {% if listings %}
                <h2>Liczba ogłoszeń: {{ user_listings_count }}</h2>
                <ul>
                    {% for listing in listings %}
                        <li>
                            <p><strong><a href="/listing/{{ listing.slug }}">{{ listing.title }}</a></strong></p>
                            <p><strong>Cena: {{ listing.price }}</strong></p>
                            {% if listing.images %}
                                <p><img src="{{ listing.images.0.url }}" alt="Image 1" width="200"></p>
                            {% else %}
                                <p><strong>Brak zdjęć</strong></p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Brak ogłoszeń</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
