# Default ignored files
/shelf/
/workspace.xml
/media/avatars
/media/listing_images
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
